# ingestion_program.zip_unzipped/
# ingestion_program.zip_unzipped/*

# scoring_program.zip_unzipped/
# scoring_program.zip_unzipped/*

starting_kit/submissions/
starting_kit/submissions/*

test_output/
test_output/*

# starting_kit/*

docker/codabench_legacy/
docker/codabench_legacy/*

bundle.zip
logs_light_doc_V1

.vscode
.vscode/*

modules
ingestion_program/modules

scoring_program.zip
ingestion_program.zip
starting_kit.zip
input_data.zip
ground_truth.zip